!!! 5
%html
  %link{rel: "stylesheet", type: "text/css", href: "https://fonts.googleapis.com/css?family=Bangers|Oswald"}
  %link{rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"}
  %link{rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.min.css"}
  %link{rel: "stylesheet", type: "text/css", href: "index.css"} 
  %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.js"}
  %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
  %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js"}
  %script{type: "text/javascript", src: "mithril.min.js"}
  %script{type: "text/javascript", src: "index.js"}

  %title
  %body
    .nav
      #logo
        .pokemongo-nav
          Pokemon Go #Tweets
      #search
        %form{action: "/", method: "get"}
          %select{:name => 'pokemon[]',  class: 'choose-pokemon', multiple: true, placeholder: 'select pokemon to show'}
            - @pokemon.each do |p|
              %option{ value: p }= p
      %hr
    #main
