body {
  padding: 0 50px;
}
.gridbox {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 10px;
}
.pokeball {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  float: right;
}
.pokeball.shown {
  animation: showPokeball 3s ease-out 0s 1 alternate;
}
.pokeball.empty {
  opacity: 0;
  transform: scale(0);
  transition: opacity 3s, transform 2s;
}
.pokemon-image.shown {
  animation: showPokemonImage 2s ease-out 0s 1 alternate;
}
.pokemon-image {
  display: inline-block;
  width: 75px;
  margin-left: -20px;
  margin-top: 25px;
}
#nav {
  margin: 25px 0;
}
#logo {
  font-size: 52px;
  font-family: 'Bangers', cursive;
  display: inline-block;
  width: 30%;
}
#search {
  display: inline-block;
  float: right;
  width: 65%;
  margin-left: 20px;
}
.pokemongo-nav, .tweets-nav {
  display: inline-block;
}
#pokeballs {
  width: 70%;
  display: inline-block;
}
#sidebar {
  width: 30%;
  display: inline-block;
  float: right;
}
#leaderboard {
  overflow: auto;
}
#leaderboard-header {
  background-color: black;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 0px;
}
p.tweet-text {
  padding: 5px;
  border-bottom: 2px solid black;
  font-family: 'Bangers', cursive;
  height: auto;
  animation: showText 1s linear 0s 1 alternate;
}
.selectize-control.choose-pokemon {
  font-family: 'Oswald', sans-serif;
}
.selectize-input.items>div.item {
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  font-weight: 200;
  font-size: 13px;
  font-style: thin;
  color: white;
  background-color: black;
}
@keyframes showPokeball {
  0%   {transform: scale(.2); opacity: .2;}
  15%  {transform: scale(.4); opacity: .3}
  30%  {transform: scale(.6); opacity: .4}
  45%  {transform: scale(.8); opacity: .5}
  60%  {transform: scale(1); opacity: .6}
  75%  {transform: scale(1.2); opacity: .7}
  90%  {transform: scale(1.1); opacity: .8}
  100% {transform: scale(1); opacity: .9}
}
@keyframes showPokemonImage {
  0% {transform: translateX(75px)}
  100% {transform: translateX(0px)}
}
@keyframes showText {
  from {border-bottom: 0px solid transparent; opacity: 0;}
  to {height: auto;}
}
