body {
  padding: 0 50px;
}
.pokeball {
  border-radius: 50px;
  height: 75px;
  width: 75px;
  color: white;
  font-size: 13px;
  /*animation-duration: 2s;*/
  /*animation-delay: 1s;*/
  /*animation-iteration-count: infinite;*/
}
.gridbox {
  height: 75px;
  width: 75px;
  display: inline-block;
  padding: 10px;
}
.pokemon-image {
  display: inline-block;
  width: 75px;
  margin-left: -20px;
  margin-top: 25px;
}
.nav {
  margin: 25px 0;
}
#logo {
  font-size: 52px;
  font-family: 'Bangers', cursive;
  display: inline-block;
  width: 30%;
}
#search {
  display: inline-block;
  float: right;
  width: 65%;
  margin-left: 20px;
}
.pokemongo-nav, .tweets-nav {
  display: inline-block;
}
#pokeballs {
  width: 70%;
  display: inline-block;
}
#sidebar {
  width: 30%;
  display: inline-block;
  float: right;
}
#leaderboard {
  overflow: auto;
}
#leaderboard-header {
  background-color: black;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 0px;
}
p.tweet-text {
  padding: 5px;
  border-bottom: 2px solid black;
  font-family: 'Bangers', cursive;
}

.selectize-control.choose-pokemon {
  font-family: 'Oswald', sans-serif;
}

.selectize-input.items>div.item {
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  font-weight: 200;
  font-size: 13px;
  font-style: thin;
  color: white;
  background-color: black;
}